[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=DateEvent
Exec=invoker --splash=/usr/share/dateevent/splash.jpg --single-instance --type=e /usr/bin/dateevent
Icon=/usr/share/icons/hicolor/64x64/apps/dateevent.png
Categories=Development;
